version: '3.8'
services:
  db:
    image: mysql:latest
    container_name: mysql_database
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: t00r
      MYSQL_DATABASE: financial_db
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
